BACKEND_BASE_URL="http://localhost:8080/api/v1"

## Cloud CDN for image generation
NEXT_PUBLIC_CLOUDFRONT="<YOUR_CLOUDFRONT_URL>"
NEXT_GEN_AI_CDN="<YOUR_BLOB_STORAGE_URL>"

## Update the DATABASE_URL with your actual database credentials
DATABASE_URL="postgresql://postgres:<YOUR_PASSWORD>@db.xxx.supabase.co:5432/postgres"