GOOGLE_API_KEY="<you-api-key-here>"
MISTRAL_API_KEY="<you-api-key-here>"
OPENAI_API_KEY="<you-api-key-here>"
MODELSLAB_API_KEY="<you-api-key-here>"
SILICONFLOW_API_KEY="<you-api-key-here>"

## Database
### S3 (Bucket storage)
AWS_ACCESS_KEY_ID="<you-access-key-id-here>"
AWS_SECRET_ACCESS_KEY="<you-secret-access-key-here>"

### Postgres (Relational Database)
DATABASE_URL="postgresql://postgres:<your_password_here>@localhost:5432/postgres"

### Redis (In-memory Database)
REDIS_URL="redis://:<your_redis_password>@localhost:6379"

### Chroma (Vector Database)
CHROMA_HOST="http://localhost:8000"
CHROMA_PORT=8000

## APIs
### url: https://www.n2yo.com/login/edit/
### content: fetch satellites data in real-time
N2YO_API_KEY="<you-api-key-here>"

### url: https://app.tavily.com/home
### content: search data on the web
TAVILY_API_KEY="<you-api-key-here>"