GOOGLE_API_KEY="<you-api-key-here>"

## APIs
### url: https://www.n2yo.com/login/edit/
### content: fetch satellites data in real-time
N2YO_API_KEY="<you-api-key-here>"

### url: https://app.tavily.com/home
### content: search data on the web
TAVILY_API_KEY="<you-api-key-here>"